//- layout.jade
doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		block title
		link(href='css/app.min.css', rel='stylesheet')
		link(type='image/x-icon', rel='icon', href='favicon.png')
	body
		block page
		include ./parts/modals.jade
		//-div(style="width:0;height:0;overflow:hidden;")
			include ../../svg-sprite.min.svg
		//[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
			<![endif]
		script(src='bower_components/jquery/jquery.min.js')
		script(src='bower_components/jquery-validate/dist/jquery.validate.min.js')
		script(src='bower_components/slick-carousel/slick/slick.min.js')
		script(src='bower_components/remodal/dist/remodal.min.js')
		script(src='bower_components/jquery.browser/dist/jquery.browser.min.js')
		script(src='bower_components/jquery.maskedinput/dist/jquery.maskedinput.min.js')
		script(src='bower_components/waypoints/lib/jquery.waypoints.min.js')
		script(src='js/settings.js')
		script(src='js/app.js')
		script(src='js/main.js')
		
		//- js for production
		//- script(src='js/dist/app.min.js')