@include keyframes(fadeIn) {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@include keyframes(fadeInUp) {
	from {
		opacity: 0;
		@include transform(translate3d(0, 25px, 0));
	}
	to {
		opacity: 1;
		@include transform(none);
	}
}

@include keyframes(fadeInDown) {
	from {
		opacity: 0;
		@include transform(translate3d(0, -25px, 0));
	}
	to {
		opacity: 1;
		@include transform(none);
	}
}

@include keyframes(zoomIn) {
	from {
		opacity: 0;
		@include transform(scale3d(.95, .95, .95));
	}
	to {
		opacity: 1;
		@include transform(none);
	}
}

@include keyframes(rotateIn) {
	from {
		opacity: 0;
		-webkit-transform-origin: center;
		transform-origin: center;
		@include transform(rotate3d(0, 0, 1, -80deg));
	}
	to {
		-webkit-transform-origin: center;
		transform-origin: center;
		@include transform(none);
		opacity: 1;
	}
}

@include keyframes(fadeInLeft) {
	from {
		opacity: 0;
		@include transform(translate3d(-25px, 0, 0));
	}
	to {
		@include transform(none);
		opacity: 1;
	}
}

@include keyframes(fadeInRight) {
	from {
		opacity: 0;
		@include transform(translate3d(25px, 0, 0));
	}
	to {
		@include transform(none);
		opacity: 1;
	}
}

.animated {
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.fade-in {
	&.animated {
		-webkit-animation-name: fadeIn;
		-moz-animation-name: fadeIn;
		animation-name: fadeIn;
		-webkit-animation-duration: 1.9s;
		-moz-animation-duration: 1.9s;
		animation-duration: 1.9s;
	}
}

.fade-in-up {
	&.animated {
		-webkit-animation-name: fadeInUp;
		-moz-animation-name: fadeInUp;
		animation-name: fadeInUp;
		-webkit-animation-duration: .6s;
		-moz-animation-duration: .6s;
		animation-duration: .6s;
	}
}

.fade-in-down {
	&.animated {
		-webkit-animation-name: fadeInDown;
		-moz-animation-name: fadeInDown;
		animation-name: fadeInDown;
		-webkit-animation-duration: .6s;
		-moz-animation-duration: .6s;
		animation-duration: .6s;
	}
}

.fade-in-left {
	&.animated {
		-webkit-animation-name: fadeInLeft;
		-moz-animation-name: fadeInLeft;
		animation-name: fadeInLeft;
		-webkit-animation-duration: .6s;
		-moz-animation-duration: .6s;
		animation-duration: .6s;
	}
}

.fade-in-right {
	&.animated {
		-webkit-animation-name: fadeInRight;
		-moz-animation-name: fadeInRight;
		animation-name: fadeInRight;
		-webkit-animation-duration: .6s;
		-moz-animation-duration: .6s;
		animation-duration: .6s;
	}
}

.zoom-in {
	&.animated {
		-webkit-animation-name: zoomIn;
		-moz-animation-name: zoomIn;
		animation-name: zoomIn;
		-webkit-animation-duration: .9s;
		-moz-animation-duration: .9s;
		animation-duration: .9s;
	}
}

.rotate-in {
	&.animated {
		-webkit-animation-name: rotateIn;
		-moz-animation-name: rotateIn;
		animation-name: rotateIn;
		-webkit-animation-duration: .9s;
		-moz-animation-duration: .9s;
		animation-duration: .9s;
	}
}