html {
	min-height: 100%;
	@include rem-baseline;
}

body {
	font-family: Arial, sans-serif;
	height: 100%;
	color: #000;
}

a {
	text-decoration: none;
}

textarea,
input,
button {
	resize: none;
	outline: none;
}