// grid
$screen-sm: 540px;
$screen-md: 720px;
$screen-lg: 960px;
$screen-xl: 1140px;

// susy configuration
$susy: (
	columns: 12,
	gutter-position: inside-static,
	gutters: 1/4,
	column-width: 120px,
	math: fluid,
	output: float,
	container: $screen-lg - 30px,
);